<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Camp App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      <a href="">Ruby on Rails</a>
    </p>
  </body>
</html>
