<header class="siteHeader">
  <%= link_to "CAMP", root_path, id: "logo" %>
  <nav class="accordionNav">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Login", '#' %></li>
    </ul>
  </nav>
</header>
